{% extends 'base.html' %} 
{% load i18n %}
{% load static %}

{% block page_title %}
    Home 
{% endblock page_title %} 

{% block content %} 

{% include 'rooms/main_picture.html' %}

<div class="container mx-auto">

    <div class="bg-gray-500 h-50vh mt-28 mb-24 rounded-2xl bg-cover bg-center" 
    style="background-image: url('https://images.unsplash.com/photo-1583426376728-703217582349?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1')">
    </div>

    <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-5">
        {% for room in rooms %}
            {% include 'mixins/room_card.html' with room=room %}
        {% endfor %} 
    </div>
    
    <div class="flex justify-center items-center mt-5">

        {% if page_obj.has_previous %}
            <a href="?page={{page_obj.previous_page_number}}" class="text-green-700">
                <i class="fas fa-arrow-left fa-lg"></i>
            </a>
        {% endif %}

        <div class="mx-5 text-xl font-light">
            {% blocktrans with current_page=page_obj.number total_page=page_obj.paginator.num_pages %}Page {{current_page}} of {{total_page}}{% endblocktrans %}
        </div>

        {% if page_obj.has_next %}
            <a href="?page={{page_obj.next_page_number}}" class="text-green-700">
                <i class="fas fa-arrow-right fa-lg"></i>
            </a>
        {% endif %}
    </div>
    
</div>
{% endblock content %}